
button{
    width: 200px;
    height: 30px;
    background-color: wheat;
}
fieldset{
    border: none;
}
p{
    font-size: 0.75rem;
    padding: 0 ;
    margin-top: -4%;
}
.containerInscription{
    display: flex;
    flex-direction: column;
}

.containerInscription label{
    display: inline-block;
    width: 100%;

}
.containerInscription input{
    display: inline-block;
    width: 100%;
    outline: none;
    text-decoration: none;
    background-color: black;
    color: white;
    border-bottom: 1px solid;
}
.mesBtn{
    display: flex;
    justify-content: space-around;
}
.errorName{
    display:block;
}


.input-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 5px;
    margin: 20px;
}
.input-wrapper input {
    flex: 1; /* Permet à l'input de prendre toute la largeur disponible */
    margin-left: -20px;
}
.input-wrapper img {
    position: absolute;
    width: 5%;  /* Ajuste la taille de l'image */
    bottom: 10px;
    right: 10px;  /*Décale l'image vers la droite*/
}

#containerQuality{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}
.containerQualityClass{
    /* border: 1px solid white; */
    width: min-content;
    display: flex;
    margin-right: 5px;
    flex-direction: column;
    justify-content: flex-start;
}
.containerQualityClass>p{
    text-align: center;
    font-size: 1rem;
}
.colorQuality{
    width: 10dvw;
    height: 5px;

    margin-bottom: 2px;
    /* border-radius: 100%; */

}
#colorFaible{
    background-color: rgb(255, 115, 0);
}
#colorMoyen{
    background-color: rgb(241, 241, 13);
}
#colorFort{
    background-color:green;
}
#faible{
    visibility: hidden;
}
#moyen{
    visibility: hidden;
}
#fort{
    visibility: hidden;
}

@media screen and (max-width: 600px) {
    .mesBtn{
        flex-direction: column;
        margin-bottom: 20px;
        align-items: center;
    }
    button{
        margin-bottom: 10px;
    }
}

